
.board-row1{
  
  margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    line-height: 0px;
    padding: 0;
    position:fixed;
    top: 50px;
    left: 100px;
    

}

.board-row2{
  
  margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    vertical-align: top;
    line-height: 0px;
    padding: 0;
    align-self: center;
    top: 50px;
    position:fixed;
    top: 150px;
    left: 100px;
}

.board-row3{
  
  margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    vertical-align: top;
    line-height: 0px;
    padding: 0;
    align-self: center;
    top: 50px;
    position:fixed;
    top: 250px;
    left: 100px;

}

.square {

  margin: 0;
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

